@use '../../styles' as *;

.root {
  line-height: calc(1em + 0.5rem);
}


.white {
  color: $white;
}

.green {
  color: $green;
}

.lightgreen {
  color: $lightgreen;
}

.red {
  color: $red;
}

.black {
  color: $black;
}

.shade {
  color: $shade;
}

.shade2 {
  color: $shade2;
}

.grey {
  color: $grey;
}

.normal {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 600;
}

.heavy {
  font-weight: 700;
}

.xs,
.xxs {
  font-size: 1.25rem;
  @media (max-width: $screen_sm) {
    font-size: 1rem;
  }
}

.sm {
  font-size: 1.5rem;
  @media (max-width: $screen_sm) {
    font-size: 1.25rem;
  }
}

.md {
  font-size: 1.75rem;
  @media (max-width: $screen_sm) {
    font-size: 1.5rem;
  }
}

.lg {
  font-size: 2rem;
  @media (max-width: $screen_sm) {
    font-size: 1.75rem;
  }
}

.xl {
  font-size: 2.25rem;
  @media (max-width: $screen_sm) {
    font-size: 2rem;
  }
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.justify {
  text-align: justify;
}

.normal {
  font-style: normal;
}

.italic {
  font-style: italic;
}
