@use "../../styles" as *;

.root {
  position: relative;
  flex-grow: 1;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: $black;
  color: $white;
  background-size: cover;
}

.main {
  flex: 1 1 100svh;
  position: relative;
}

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}